<!doctype html>
<html lang="en">
  <%- include('../partials/head', { title: 'All Offices'}); %>
  <head>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.7/css/dataTables.bootstrap5.min.css" />
    <script>
      function confirmDelete(officeId) {
        if (confirm("Are you sure you want to delete this office?")) {
          document.getElementById("delete-form-" + officeId).submit();
        }
      }
    </script>
  </head>
  <body>
    <div class="container">
      <a href="/admin/logout" class="btn btn-danger float-end my-3">Logout</a>
      <div class="py-3">
        <h2>All Offices</h2>
      </div>
      <div class="my-2 mb-3">
        <a href="/admin/office/add" class="btn btn-success">Add New Office</a>
        <a href="/admin/users" class="btn btn-primary ms-2">Manage Admins</a>
      </div>
      <table class="table table-striped table-responsive" id="offices">
        <thead class="table-primary">
          <tr>
            <th scope="col">Sl No</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Mobile</th>
            <th scope="col">Added Date</th>
            <th scope="col">Active</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% offices && offices?.forEach((office, index)=> { %>
          <tr>
            <td><%= index+1 %></td>
            <td><%= office.name %></td>
            <td><%= office.address %></td>
            <td><%= office.mobile %></td>
            <td><%= new Date(office.createdAt ).toLocaleDateString();%></td>
            <td><%= office.is_active %></td>
            <td>
              <div class="d-flex justify-content-evenly align-items-center gap-2">
                <a href="/admin/office/info/<%= office._id %>" class="btn btn-sm btn-info">Info</a>
                <a href="/admin/office/edit/<%= office._id %>" class="btn btn-sm btn-primary">Edit</a>
                <form id="delete-form-<%= office._id %>" method="POST" action="/admin/office/delete/<%= office._id %>">
                  <button type="button" class="btn btn-danger btn-sm" onclick="confirmDelete('<%= office._id %>')">Delete</button>
                </form>
              </div>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.bootstrap5.min.js"></script>
    <script>
      let table = new DataTable("#offices", {});
    </script>
  </body>
</html>
